--indent 2
--indentcase false
--trimwhitespace always
--voidtype tuple
--nospaceoperators ..<,...
--ifdef noindent
--stripunusedargs closure-only
--maxwidth 120
--wraparguments before-first
--funcattributes prev-line
--varattributes prev-line
--disable andOperator

# Insert explicit `self` where applicable.
--self insert

--swiftversion 5.7
