name: Pull request

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@0.0.2
    with:
      linux_os_versions: '["amazonlinux2", "bookworm", "jammy", "focal", "noble", "rhel-ubi9"]'
      linux_swift_versions: '["6.0", "6.1", "nightly-6.2", "nightly-main"]'
      linux_pre_build_command: |
        if command -v apt-get >/dev/null 2>&1 ; then # bookworm, noble, jammy, focal
          apt-get update -y
          apt-get install -y locales locales-all libsqlite3-dev
        elif command -v yum >/dev/null 2>&1 ; then # amazonlinux2, rhel-ubi9
          yum update -y
          yum install -y sqlite-devel
        fi
      enable_windows_checks: false

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@0.0.3
    with:
      api_breakage_check_enabled: false
